<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <!-- Online using Office 365 -->
    <add name="CRMConnectionString" connectionString="Url=https://contoso.crm.dynamics.com; Username=crmadmin@contoso.onmicrosoft.com; Password=password;"/>

    <!-- Online using Windows Live ID -->
    <!-- <add name="CRMConnectionString"
         connectionString="Url=https://contoso.crm.dynamics.com; Username=someone@hotmail.com; Password=password; DeviceID=11hfn41bbqrg580vyvoea05abc; DevicePassword=fuqNIlx%e$.l*+ax_#8O4abc;"/>-->

    <!-- On-premises with provided user credentials -->
    <!-- <add name="CRMConnectionString"
         connectionString="Url=http://myserver/AdventureWorksCycle; Domain=mydomain; Username=administrator; Password=password;"/> -->

    <!-- On-premises using Windows integrated security -->
    <!--<add name="CRMConnectionString"
         connectionString="Url=http://myserver/AdventureWorksCycle;"/>-->

    <!-- On-Premises (IFD) with claims -->
    <!--<add name="CRMConnectionString"
         connectionString="Url=https://contoso.litware.com; Username=someone@litware.com; Password=password;"/>-->
  </connectionStrings>
</configuration>
